.file_upload {
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 16px;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    height: 50px;
}

.file_upload:hover {
    background-color: var(--primary-light-color);
}

.file_input {
    display: none;
}

.file_upload_icon {
    height: 50px;
    width: relative;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 12px 12px;
}
