.input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.input_left {
    float: left;
}

.input_right {
    margin-left: 10px;
}

.input::placeholder {
    color: var(--primary-color);
}

.input_horizontal_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}