.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.table th,
.table td,
.table tc {
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
}

.table th {
    background-color: var(--primary-color);
    border: 0px;
}

.table tr {
    width: 100%;
}

.tr_colored {
    background-color: var(--primary-light-color);
}

.th_round_left_right {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.th_round_left {
    border-top-left-radius: 10px;
}

.th_round_right {
    border-top-right-radius: 10px;
}
